@model ZooPlanet.Models.Especies
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
}

<h1>Eliminar Especies</h1>

<form method="post" action="~/Admin/Administrador/Eliminar">
    <label>Nombre:</label>
    <input type="text" readonly="readonly" asp-for="Especie"/>
    <label>Clase:</label>
    <input type="text" readonly="readonly" asp-for="IdClaseNavigation.Nombre"/>
    <input type="hidden" asp-for="Id"/>

    @Html.ValidationSummary()

    <input type="submit" value="Eliminar" />
    <a href="~/Admin">
        <input type="button" value="Cancelar" />
    </a>
</form>
